<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: "creacion_producto"}) %>

<body>
    
    <!-- header -->
    <%- include('./partials/header-navbar.ejs') %>
    <!-- /header -->

    <br>

    <main>
        <h1 class="titulo">Editar productos</h1>
        <br>
        <section class="register-content">
            <form action="/productos/edicion_producto/<%= productToEdit.id %>?_method=PATCH" method="post" class="signup-form" enctype="multipart/form-data">
                <br>

            <div class="contenedor">
            <label> Nombre:</label>
                    <input type="text" name="nombre" value="<%= productToEdit.nombre  %>" spellcheck="true" required><i class="fa-solid fa-circle-check"></i>
            </div>
                <br>
                
            <div class="contenedor">
            <label> Marca:</label>
                    <input type="text" name="marca" value="<%= productToEdit.marca  %>" required><i class="fa-solid fa-circle-check"></i>
            </div>
                <br>

            <div class="contenedor">
            <label> Precio:</label>
                    <input type="number" name="precio" value="<%= productToEdit.precio  %>" required><i class="fa-solid fa-circle-check"></i>
            </div>
                <br>

                <div class="contenedor">
                    <label>
                        Categoría de oferta:
                            <select name="categoria" required>
                                <option value="">No aplica</option>
                                <option value="producto">Producto</option>
                                <option value="2do producto">2do producto</option>
                                <option value="2x1">2x1</option>
                                <option value="3x1">3x1</option>
                              </select>
                        </label>
                    </div>
                        <br>

             <div class="contenedor">   
            <label>Oferta:</label>
                    <input type="number" name="oferta" value="<%= productToEdit.oferta  %>" ><i class="fa-solid fa-circle-check"></i>
            </div>    
                <br>

            <div class="contenedor">
             <label> Descripción:</label>  
                <textarea id= "descripcion" name= "descripcion" ><%= productToEdit.descripcion  %></textarea>
            </div>
            <br>

            <div class="contenedor">
            <label> Imágen del producto:</label>
            <br>
                    <input type="file" id="imagen" value="<%= productToEdit.nombreImagen  %>" name="imagen" placeholder="Imagen del producto" accept=".jpg, .png" required>
            </div>
                <br>

            <div class="contenedor-boton">
                <button type="submit" class="boton">Editar producto</button>
            </div>

            </form>

    </main>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>