<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs', {cssSheet: ""}) %>

<body>

        <!-- header -->
	    <%- include('partials/header-navbar') %>
	    <!-- /header -->
<hr/>

    <img src="/img/banner-dto.jpg" class="img-banner">
    <br>
    <br>
<main>
    <section> 
        <h2 class="nombre-seccion"> 50% off en alimentos congelados </h2>  

    <div class="div-ofertas">
            <article>
                    <img class="img-oferta" src="/img/Oferta-50.jpg">
            </article>

            <% 
            
            let contador = 0

            productos.forEach(producto => { 

            contador = contador + 1
            
            if (contador % 4 == 0 ){ %>
                </section> 
                <br><br>
                <section> 
                    <h2 class="nombre-seccion"> 80% en la 2da unidad de alimentos seleccionados </h2>  
                    <div class="div-ofertas">  
                        <article>
                            <img class="img-oferta" src="/img/oferta-80.jpg">
                        </article>                        
            <%
            }
                
            %>

            <article> 
                <a href="productos/detalle_producto/<%=producto.id%>"> 
                <img class="img-oferta2" src ="/img/<%=producto.nombreImagen%>"></a>
                <div class="div-precio">
                    <h3 class="productos"><%=producto.descripcion%><br>"<%=producto.marca%>"</h3> 
                </div>
                <br>
                <div class="div-ofertas1">
                    <p class="precio"><%=producto.precio%><p>
                    <p class="precio-queda"><%=producto.precioDescuentoLeyenda%></p>
                </div>
                <button class= "boton-carrito">AÑADIR AL CARRITO</button>
                <br>
                <br>
            </article>
            <% }) %>
        </div>
    </section>
</main>

    <!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>

</html>