<!DOCTYPE html>
<html lang="en">
<head>
    <LINK REL="stylesheet" TYPE="text/css" HREF="../css/common.css">          
    <LINK REL="stylesheet" TYPE="text/css" HREF="../css/estilos.css"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ecommerce Grupo 7</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>

<body>

    <header class="header"> 
    <div class="compra">
        <a href="/"><img class ="logo" src = "/img/logo-proyecto.jpg"> </a>
        <br>
        <div>
            <input class="barra-navegacion" type="search" placeholder="que estás buscando?"> 
            <button class="boton-buscar"> <i class="fa-solid fa-magnifying-glass"></i> </button> 
        </div>    
        <a href="/user/login">
            <i class="fa-solid fa-user"></i>
        </a>
        <a href="/carrito">
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
        </a>
    </div>
    <br>
<hr />
    <nav class="nav"> 
    <ul type="none" class="nav-detalles"> 
        <li><i class="fa-solid fa-bars"></i> <a href="#">Categorías</a> </li>
        <li> <a href="#">Ofertas</a> </li>
        <li> <a href="#">Ofertas destacadas</a> </li>
    </ul>
</nav>
<hr/>

    <img src="/img/banner-dto.jpg" class="img-banner">
    <br>
    <br>
<main>
    <section> 
        <h2 class="nombre-seccion"> 50% off en alimentos congelados </h2>  

    <div class="div-ofertas">
            <article>
                    <img class="img-oferta" src="/img/Oferta-50.jpg">
            </article>

            <% 
            
            let contador = 0

            productos.forEach(producto => { 

            contador = contador + 1
            
            if (contador % 4 == 0 ){ %>
                </section> 
                <br><br>
                <section> 
                    <h2 class="nombre-seccion"> 80% en la 2da unidad de alimentos seleccionados </h2>  
                    <div class="div-ofertas">  
                        <article>
                            <img class="img-oferta" src="/img/oferta-80.jpg">
                        </article>                        
            <%
            }
                
            %>

            <article> 
                <a href="<%=producto.urlDetalle%>">
                <img class="img-oferta2" src ="<%=producto.dirImagen%>"></a>
                <div class="div-precio">
                    <h3 class="productos"><%=producto.descripcion%><br>"<%=producto.marca%>"</h3> 
                </div>
                <br>
                <div class="div-ofertas1">
                    <p class="precio"><%=producto.precio%><p>
                    <p class="precio-queda"><%=producto.precioDescuentoLeyenda%></p>
                </div>
                <button class= "boton-carrito">AÑADIR AL CARRITO</button>
                <br>
                <br>
            </article>
            <% }) %>
        </div>
    </section>
</main>

<footer>
<div class="footer">
    <img class ="logo" src = "/img/logo-proyecto.jpg">
    <br>
    <input class="barra-footer" type="email" placeholder="dejanos tu correo para recibir las ofertas..">
    <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i> <i class="fa-brands fa-instagram"></i>
</div>
</footer>

<br>

<div class="contenedor-final">
<div class="final">
    <h3 class="texto-final">Información útil</h3>
    <p class="texto-final2">Contacto</p>
    <p class="texto-final2">Sobre nosotros</p>
</div>
    <br>
<div class="final">
    <h3 class="texto-final" >¿Como comprar?</h3>
    <p class="texto-final2">Métodos de pago</p>
    <p class="texto-final2">Como crear una cuenta</p>
</div>
<br>
<div class="final">
    <h3 class="texto-final">Preguntas frecuentes</h3>
    <p class="texto-final2">Envíos</p>
</div>
</div>

</body>

</html>